// Main
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-opensans;
    font-size: 14px;
    font-weight: 400;

}

img {
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-sanspro;
    font-size: 20px;
    font-weight: 400;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

@media all and (max-width: 768px) {
    .grid {
        width: 100%;
    }
}
